name: build
on: push
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Create development environment and install
        run: conda env create --file .environment.yml
      - name: Check formatting
        shell: bash -l {0}
        run: |
          conda activate sonify
          black --skip-string-normalization --check .
          isort --conda-env sonify --check-only .
      - name: Run tests
        shell: bash -l {0}
        run: |
          conda activate sonify
          pytest --cov=sonify --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
