name: build
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  install-and-test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Set up development conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: sonify
          environment-file: .environment.yml
      - name: Check formatting
        run: |
          black --skip-string-normalization --check .
          isort --conda-env sonify --check-only .
      - name: Run tests
        run: pytest --cov=sonify --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
