name: build
on:
  push:
    paths-ignore:
    - doc/**
    - LICENSE.txt
    - README.rst
    - screenshot.png
    - .readthedocs.yml
    - .create_screenshot
    - .gitignore
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  install-and-test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Set up development conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: sonify
          environment-file: .environment.yml
          miniforge-variant: Mambaforge
          use-mamba: true
      - name: Check formatting
        run: |
          black --skip-string-normalization --check .
          isort --conda-env sonify --profile black --check-only .
      - name: Run tests
        run: pytest --mpl -s --cov=sonify --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
