on: push
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Create development environment and install
        run: conda env create --file .environment.yml
      - name: Run tests
        shell: bash -l {0}
        run: |
          conda activate sonify
          pytest
